<h4 class="block font-blue sbold">Email/Sms Verify Detail</h4>

<div class="note note-info ">
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN VALIDATION STATES-->
      <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td> Salt Key </td>
                <td>{{verify.saltKey}}</td>
              </tr>
              <tr>
                <td>Secret Key</td>
                <td>{{verify.secretKey}}</td>
              </tr>
              <tr>
                <td>Expire Date</td>
                <td>{{verify.expireDate}}</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{verify.typeName}}</td>
              </tr>
              <tr>
                <td>Verify Code</td>
                <td>{{verify.verifyCode}}</td>
              </tr>
              <tr>
                <td>Verify Url</td>
                <td>{{verify.verifyUrl}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{verify.statusName}}</td>
              </tr>
              <tr>
                <td>CreatedDateUtc</td>
                <td>{{verify.createdDateUtc | date: 'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td>UpdatedDateUtc</td>
                <td>{{verify.updatedDateUtc | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- END VALIDATION STATES-->
    </div>
  </div>
</div>