<div class="row">
  <div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-red"></i>
          <span class="caption-subject font-red sbold uppercase">Search History</span>
        </div>
        <div class="actions">
          <button (click)="onShowFormAddOrChange('')" type="button" class="btn blue btn-outline">
            <i class="fa fa-plus"></i>
            <span class="ladda-label"> Add</span>
          </button>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-11">
            <label>Keyword</label>
            <input type="text" class="form-control" [(ngModel)]="searchParams.keyword" placeholder="Enter keyword">
          </div>
          <div class="col-md-1">
            <label class="col-md-12" style="color: #fff">Search</label>
            <button type="button" class="btn blue" (click)="onGets()"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-hover table-light">
            <thead>
              <tr>
                <th style="width: 6%"> # </th>
                <th> Keyword </th>
                <th> SearchCount </th>
                <th> BoostScore </th>
                <!-- <th> Status </th> -->
                <th style="width: 15%"> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data | paginate: {id:'pagingControl', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRow }">
                <td>{{item.id}}</td>
                <td> {{item.keyword}} </td>
                <td> {{item.searchCount}} </td>
                <td> {{item.boostScore}} </td>
                <td>
                  <button (click)="onShowFormAddOrChange(item.id)" type="button" class="btn btn-danger mt-ladda-btn ladda-button">
                    <i class="fa fa-pencil"></i>
                    <span class="ladda-label"> Edit</span>
                  </button>
                  <button [routerLink]="['/g/canavi-search-history-detail', item.keyword]" type="button" class="btn btn-success mt-ladda-btn ladda-button">
                    <i class="fa fa-exchange"></i>
                    <span class="ladda-label"> Detail</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="dataTables_info">{{totalRow}} items</div>
        </div>
        <div class="col-md-7 col-sm-7 text-right">
          <pagination-controls id="pagingControl" (pageChange)="pageChanged($event)" maxSize="5" directionLinks="true"
            autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>

<div class="popup">
  <app-search-history-add-or-update #searchHistoryAddOrUpdate (reloadSearchHistory)="onGets()"></app-search-history-add-or-update>
</div>