<div class="row">
  <div class="col-md-12">
    <!-- Begin: Demo Datatable 1 -->
    <div class="portlet light portlet-fit portlet-datatable">
      <div class="portlet-title portlet-title-action ">
        <div class="actions">
          <a href="javascript:;" class="btn btn-circle blue-steel btn-outline" (click)="onShowAddOrChangeForm('')">
            <i class="fa fa-plus"></i> Add new </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-container">
          <form (ngSubmit)="getCustomers()" #f="ngForm" autocomplete="off">
            <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_ajax">
              <thead>
                <tr role="row" class="heading">
                  <th>
                  </th>
                  <th>
                    Code
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    Mobile
                  </th>
                  <th>
                    Fullname
                  </th>
                  <th>
                    Birthday
                  </th>
                  <th>
                    Type
                  </th>
                  <th>
                    Status
                  </th>
                  <th>
                    Actions
                  </th>
                </tr>
                <tr role="row" class="filter">
                  <td></td>
                  <td>
                    <div [ngClass]="{'has-success': code.dirty && code.value!=''}">
                      <input type="text" class="form-control form-filter input-sm" name="code" [(ngModel)]="searchParams.code" #code="ngModel"
                      />
                    </div>
                  </td>
                  <td>
                    <div [ngClass]="{
                                        'has-error': email.errors && email.dirty,
                                        'has-success': !email.errors && email.dirty && email.value!=''
                                    }">
                      <input type="text" class="form-control form-filter input-sm" name="email" [(ngModel)]="searchParams.email" pattern="[^ @]*@[^ @]*"
                        minlength="3" maxlength="150" #email="ngModel" />
                      <span class="help-block" *ngIf="email.errors && email.dirty"> Email invalid </span>
                    </div>
                  </td>
                  <td>
                    <div [ngClass]="{'has-success': mobile.dirty && mobile.value!=''}">
                      <input type="text" class="form-control form-filter input-sm" name="mobile" [(ngModel)]="searchParams.mobile" #mobile="ngModel"
                      />
                    </div>
                  </td>
                  <td>
                    <div [ngClass]="{'has-success': fullname.dirty && fullname.value!=''}">
                      <input type="text" class="form-control form-filter input-sm" name="fullName" [(ngModel)]="searchParams.fullName" #fullname="ngModel"
                      />
                    </div>
                  </td>
                  <td>
                    <div class="input-group date date-picker margin-bottom-5" data-date-format="mm/dd/yyyy" [ngClass]="{'has-success': fromBirthday.touched }">
                      <input type="text" class="form-control form-filter input-sm ng-touched ng-dirty" name="fromBirthday" placeholder="From" [(ngModel)]="searchParams.fromBirthday"
                        #fromBirthday="ngModel" />
                      <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div class="input-group date date-picker" data-date-format="mm/dd/yyyy" [ngClass]="{'has-success': toBirthDay.touched }">
                      <input type="text" class="form-control form-filter input-sm" name="toBirthDay" placeholder="To" [(ngModel)]="searchParams.toBirthDay"
                        #toBirthDay="ngModel" />
                      <span class="input-group-btn">
                        <button class="btn btn-sm default" type="button">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>

                  </td>
                  <td>
                    <div [ngClass]="{'has-success': type.dirty && type.value!=''}">
                      <select class="form-control form-filter input-sm" [(ngModel)]="searchParams.type" name="type" #type="ngModel">
                        <option *ngFor="let item of types" [ngValue]="item.value">{{item.text}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div [ngClass]="{'has-success': status.dirty && status.value!=''}">
                      <select class="form-control form-filter input-sm" [(ngModel)]="searchParams.status" name="status" #status="ngModel">
                        <option *ngFor="let item of statuses" [ngValue]="item.value">{{item.text}}</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="margin-bottom-5">
                      <button class="btn btn-sm yellow filter-submit margin-bottom" type="submit">
                        <i class="fa fa-search"></i> Search</button>
                    </div>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let customer of customers | paginate: { itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRow };let i = index">
                  <td>
                    {{i+1}}
                  </td>
                  <td>
                    {{customer.code}}
                  </td>
                  <td>
                    {{customer.email}}
                  </td>
                  <td>
                    {{customer.phoneNumber}}
                  </td>
                  <td>
                    {{customer.fullName}}
                  </td>
                  <td>
                    {{customer.birthday}}
                  </td>
                  <td>
                    {{customer.typeName}}
                  </td>
                  <td>
                    {{customer.statusName}}
                  </td>
                  <td>
                    <a href="javascript:;" class="btn btn-circle btn-outline green" (click)="onShowAddOrChangeForm(customer.id)">
                      <i class="fa fa-pencil"></i> Edit </a>
                    <a href="javascript:;" class="btn btn-circle btn-outline blue" (click)="onGetDetail(customer.id)">
                      <i class="fa fa-reorder"></i> Detail </a>
                    <a href="javascript:;" *ngIf="customer.isShowButtonAtive" class="btn btn-circle btn-outline blue bs_active" attr.id="{{customer.id}}" data-toggle="active"
                      data-btn-ok-label="Có" data-btn-cancel-label="Không">
                      <i class="fa fa-pencil"></i> Active </a>
                    <a href="javascript:;" *ngIf="customer.isShowButtonLock" class="btn btn-circle btn-outline red bs_lock" attr.id="{{customer.id}}" data-toggle="lock"
                      data-btn-ok-label="Có" data-btn-cancel-label="Không">
                      <i class="fa fa-lock"></i> Lock </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="pageIndex = $event"></pagination-controls>
          </form>
        </div>
      </div>
    </div>
    <!-- End: Demo Datatable 1 -->
  </div>
</div>
<div class="popup">
  <app-customer-add-or-change #customerAddOrChange (reloadGrid)="getCustomers()"></app-customer-add-or-change>
</div>