<div class="row">
  <div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-red"></i>
          <span class="caption-subject font-red sbold uppercase">Candidates</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-11">
            <label>Keyword</label>
            <input type="text" class="form-control" [(ngModel)]="searchParams.keyword" placeholder="Enter keyword">
          </div>
          <div class="col-md-1">
            <label class="col-md-12" style="color: #fff">Search</label>
            <button type="button" class="btn blue" (click)="onSearch()"><i class="fa fa-search"></i> Search</button>
          </div>
        </div>
        <div class="table-scrollable">
          <table class="table table-hover table-light">
            <thead>
              <tr>
                <th> STT </th>
                <th> Avatar </th>
                <th> Name </th>
                <th> Email </th>
                <th> Phone </th>
                <th> Status </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of candidates | paginate: {id:'pagingControl', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRow }; let i = index">
                <td> {{i+1}}</td>
                <td> <img src="{{item.avatarCandidateResize}}" /> </td>
                <td> {{item.name}} </td>
                <td> {{item.email}} </td>
                <td> {{item.phone}} </td>
                <td> {{item.statusName}} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="dataTables_info">{{totalRow}} items</div>
        </div>
        <div class="col-md-7 col-sm-7 text-right">
          <pagination-controls id="pagingControl" (pageChange)="pageChanged($event)" maxSize="5" directionLinks="true"
            autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>