<p-fileUpload name="files[]" #form customUpload="true" accept="image/*" multiple="multiple" maxFileSize="1000000"
  chooseLabel="Chọn" uploadLabel="Tải lên" cancelLabel="Hủy" (uploadHandler)="onUpload($event, form)" (onSelect)="onSelect($event, form)" (onRemove)="onRemove($event, form)">
  <ng-template pTemplate="content">
    <!-- <ul class="list-file-uploaded" *ngIf="uploadedFiles.length">
      <li class="item" *ngFor="let file of uploadedFiles">
        <div class="ui-fileupload-row">
          <div><img src="{{file.fullUrl}}" width="50"></div>
          <div>{{file.name}}</div>
          <div>{{file.size / 1024}} KB</div>
        </div>
      </li>
    </ul> -->
    <div class="drag-zone-content" *ngIf="showDefaultContent">
      <img src="../../../assets/global/img/upload.png"/>
      <p>Kéo thả các file vào đây để tải file lên</p>
    </div>
  </ng-template>
</p-fileUpload>