<ul class="page-sidebar-menu page-header-fixed">
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <li class="sidebar-toggler-wrapper hide">
    <div class="sidebar-toggler">
      <span></span>
    </div>
  </li>
  <!-- END SIDEBAR TOGGLER BUTTON -->
  <li class="nav-item parent">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-briefcase"></i>
      <span class="title">Clawler Data</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="attribute" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Attribute</span>
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="job" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Job</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="recuiter" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Recuiter</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item parent">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-briefcase"></i>
      <span class="title">System Data</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item parent">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-briefcase"></i>
          <span class="title">Recuiter management</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-recuiters" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Recuiters</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-claim-request" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Claim request</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item parent">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-briefcase"></i>
          <span class="title">Candidates</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-candidate-list" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Candidate list</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-candidate-payment-request" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Payment request</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="jobstatusgroup" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Job status group</span>
        </a>
      </li>
      <li class="nav-item parent">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-briefcase"></i>
          <span class="title">Attributes</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-attribute" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Attribute</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-attribute-group" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Attribute group</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-attribute-relationship" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Attribute relationship</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a href="#" routerLink="canavi-attribute-filter" class="nav-link">
              <i class="icon-docs"></i>
              <span class="title">Attribute filter</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="canavi-search-history" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Search history</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="canavi-commisstion-fee" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Commisstion fee</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="customer" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Customer</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="department" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Department</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="component-group" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Component group</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item parent">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-briefcase"></i>
      <span class="title">Blog Data</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-category" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Category</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-posts" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Posts</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-authors" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Authors</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-tags" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Tags</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-questions" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Questions</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="blog-wikis" class="nav-link">
          <i class="icon-graph"></i>
          <span class="title">Wiki</span>
        </a>
      </li>
    </ul>
  </li>
  <li class="nav-item parent">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-briefcase"></i>
      <span class="title">Marketing Data</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="email-or-sms" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Email SMS</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="seo-detail" class="nav-link">
          <i class="icon-docs"></i>
          <span class="title">Seo detail</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="banner" class="nav-link">
          <i class="fas fa-photo-video"></i>
          <span class="title">Tùy chỉnh Banner</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="javascript:void(0);" routerLink="footer-group" class="nav-link">
          <i class="fas fa-tools"></i>
          <span class="title">Tùy chỉnh Footer</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="javascript:void(0);" routerLink="export-report" class="nav-link">
          <i class="fas fa-file-export"></i>
          <span class="title">Xuất báo cáo</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="nav-item parent">
    <a href="javascript:;" class="nav-link nav-toggle">
      <i class="icon-briefcase"></i>
      <span class="title">CSKH</span>
      <span class="arrow"></span>
    </a>
    <ul class="sub-menu">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="authentication-recruiter" class="nav-link">
          <i class="fas fa-check"></i>
          <span class="title">Xác thực NTD</span>
        </a>
      </li>
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="manage-job" class="nav-link">
          <i class="fas fa-check"></i>
          <span class="title">Quản Lý Job </span>
        </a>
      </li> -->
      <!-- <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="manage-recruiter" class="nav-link">
          <i class="fas fa-check"></i>
          <span class="title">Quản lý Công ty</span>
        </a>
      </li>

   
       -->

       <li class="nav-item" [routerLinkActive]="['active']">
        <a href="#" routerLink="job-campaign" class="nav-link">
          <i class="fas fa-check"></i>
          <span class="title">Campaign</span>
        </a>
      </li>
    </ul>
  </li>


  
</ul>
