<div class="row">
  <div class="col-md-12">
    <!-- BEGIN SAMPLE TABLE PORTLET-->
    <div class="portlet light bordered">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-settings font-red"></i>
          <span class="caption-subject font-red sbold uppercase">Attribute mapping</span>
        </div>
        <div class="actions">
          <button (click)="onShowFormAddOrChange('')" type="button" class="btn blue btn-outline">
            <i class="fa fa-plus"></i>
            <span class="ladda-label"> Add</span>
          </button>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-scrollable">
          <table class="table table-hover table-light">
            <thead>
              <tr>
                <th> Attribute name </th>
                <th> Parent name </th>
                <th> IsRequired </th>
                <th> IsPrivate </th>
                <th> Tooltip Description </th>
                <th> Tooltip Url </th>
                <th> Status </th>
                <th> Type </th>
                <th style="width: 10%"> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of attributeAttributeGroupMappings | paginate: {id:'pagingControl', itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalRow }">
                <td> {{item.attributeName}} </td>
                <td> {{item.parentAttributeName}} </td>
                <td> {{item.isRequired}} </td>
                <td> {{item.isPrivate}} </td>
                <td> {{item.tooltipDescription}} </td>
                <td> {{item.tooltipUrl}} </td>
                <td> {{item.statusName}} </td>
                <td> {{item.attributeTypeName }} </td>
                <td>
                  <button (click)="onShowFormAddOrChange(item.id)" type="button" class="btn btn-danger mt-ladda-btn ladda-button">
                    <i class="fa fa-pencil"></i>
                    <span class="ladda-label"> Edit</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-sm-5">
          <div class="dataTables_info">{{totalRow}} items</div>
        </div>
        <div class="col-md-7 col-sm-7 text-right">
          <pagination-controls id="pagingControl" (pageChange)="pageChanged($event)" maxSize="5" directionLinks="true"
            autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
          </pagination-controls>
        </div>
      </div>
    </div>
    <!-- END SAMPLE TABLE PORTLET-->
  </div>
</div>

<div class="popup">
  <app-attribute-group-mapping-add-or-update #attributeGroupMappingAddOrChange (reloadAttributeGroupMapping)="onSearch()"></app-attribute-group-mapping-add-or-update>
</div>