<h1 class="page-title">
    <h2>Create post</h2>
</h1>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-btn" style="font-size: 14px;">Search:&nbsp;</span>
                <input type="text" class="form-control" id="search" />
                <div class="input-group-btn">
                    <button class="btn btn-info" id="clear">Clear</button>
                </div>
            </div>
            <div id="jsCategoryTree"></div>
        </div>
        <div class="col-md-8">
            <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_5_1" data-toggle="tab"> Detail </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_5_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table a">
                                        <tbody>
                                            <tr>
                                                <td class="col-md-3"> Category </td>
                                                <td> {{categoryName}} </td>
                                            </tr>
                                            <tr>
                                                <td class="col-md-3"> BreadCrumb </td>
                                                <td> {{categoryBreadCrumb}} </td>
                                            </tr>
                                            <tr *ngIf="categoryId !== ''">
                                                <td class="col-md-3"></td>
                                                <td>
                                                    <button *ngIf="module === 0" type="button" class="btn btn-sm btn-warning" [routerLink]="['/g/blog-posts/add', categoryId]">Chọn danh mục này</button>
                                                    <button *ngIf="module !== 0" type="button" class="btn btn-sm btn-warning" [routerLink]="['/g/blog-posts/add', categoryId, module]">Chọn danh mục này</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>