<div id="recuiter-user-mapping" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-full">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="portlet light bordered">
              <div class="portlet-title">
                <div class="caption">
                  <i class="icon-settings font-red"></i>
                  <span class="caption-subject font-red sbold uppercase">Claim request</span>
                </div>
              </div>
              <div class="portlet-body">
                <!-- <div class="row">
          <div class="col-md-11">
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="searchParams.name" placeholder="Enter keyword">
          </div>
          <div class="col-md-1">
            <label class="col-md-12" style="color: #fff">Search</label>
            <button type="button" class="btn blue" (click)="onSearch()"><i class="fa fa-search"></i> Search</button>
          </div>
        </div> -->
                <div class="table-scrollable">
                  <table class="table table-hover table-light">
                    <thead>
                      <tr>
                        <th> STT </th>
                        <th> User </th>
                        <th> Claim code </th>
                        <th> Status </th>
                        <th> Action </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of recuiterUserMappings | paginate: {id:'pagingControlUserMapping', itemsPerPage: pageSizeUserMapping, currentPage: pageIndexUserMapping, totalItems: totalRowUserMapping }; let i = index">
                        <td> {{i+1}}</td>
                        <td> {{item.userId}} </td>
                        <td> {{item.claimCode}} </td>
                        <td> {{item.statusName}} </td>
                        <td>
                          <button (click)="onShowFormUpdate(item.id)" type="button" class="btn btn-blue mt-ladda-btn ladda-button">
                            <i class="fa fa-check"></i>
                            <span class="ladda-label"> Create claim code</span>
                          </button>
                          <button (click)="onAccepted(item.id)" *ngIf="item.isShowButtonAccepted" type="button" class="btn btn-blue mt-ladda-btn ladda-button">
                            <i class="fa fa-check"></i>
                            <span class="ladda-label"> Accepted</span>
                          </button>
                          <button (click)="onReject(item.id)" *ngIf="item.isShowButtonReject" type="button" class="btn btn-red mt-ladda-btn ladda-button">
                            <i class="fa fa-ban"></i>
                            <span class="ladda-label"> Reject</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 col-sm-5">
                  <div class="dataTables_info">{{totalRowUserMapping}} items</div>
                </div>
                <div class="col-md-7 col-sm-7 text-right">
                  <pagination-controls id="pagingControlUserMapping" (pageChange)="pageChangedUserMappings($event)" maxSize="5" directionLinks="true"
                    autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next">
                  </pagination-controls>
                </div>
              </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup">
  <app-create-claim-code #createClaimCode></app-create-claim-code>
</div>