<h3 class="text-center" style="font-weight: bold;">Quản lý nhà tuyển dụng</h3>
<div class="col-lg-9">
  <mat-form-field class="input-search-recruiter">
    <input matInput placeholder="Tìm kiếm" [(ngModel)]="companyRequest.Name" (keyup.enter)="onSearch()">
  </mat-form-field>
</div>

<div class="col-lg-3 text-center">
  <button mat-button class="btn-search-recruiter" (click)="onSearch()" >Tìm kiếm</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;border: 1px solid #D8D8D8;"> STT </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;border: 1px solid #D8D8D8;"> {{element.position}}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;border: 1px solid #D8D8D8;"> Tên Company
    </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;border: 1px solid #D8D8D8;">
      {{element.companyName}}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="totalJob">
    <th mat-header-cell *matHeaderCellDef style="text-align: center;border: 1px solid #D8D8D8;"> Tổng Job đã tạo </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;border: 1px solid #D8D8D8;"> {{element.totalJob}}
    </td>
  </ng-container>


  <!-- Các chức năng -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef style="width: 110px;text-align: center;border: 1px solid #D8D8D8;"> Đổi trạng thái
    </th>
    <td mat-cell *matCellDef="let element" style="width: 110px;border: 1px solid #D8D8D8;text-align: center;padding: 15px;">
            <mat-form-field style="padding: 10px;">
              <mat-label>Trạng thái</mat-label>
              <mat-select [(ngModel)]="element.status" (selectionChange)='onChangeStatus(element.status,element.id)'>
                <mat-option *ngFor="let status of statusCompany" [value]="status.value">
                  {{status.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      <!-- <a href="javascript:void(0)" class="btn btn-success" style="width: 100px;margin: 5px;"
          (click)="onChangeStatus(3, element.idCompany, element.idUser)">
          <i class="fas fa-check-circle"></i> Duyệt
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" style="width: 100px;margin: 5px;"
          (click)='onChangeStatus(2, element.idCompany, element.idUser)'>
          <i class="fas fa-user-times"></i> Từ chối
        </a> -->
    </td>
  </ng-container>



  <!-- Các chức năng -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef style="width: 110px;text-align: center;border: 1px solid #D8D8D8;"> Xóa
    </th>
    <td mat-cell *matCellDef="let element" style="width: 110px;border: 1px solid #D8D8D8;text-align: center;">

     

          <a *ngIf="element.status != -1" href="javascript:void(0)" class="btn btn-danger" style="width: 77px;;margin: 5px;"
            (click)='onChangeStatus(-1,element.id)'>
            <i class="fas fa-user-times"></i> Xóa
          </a>
      <!-- <a href="javascript:void(0)" class="btn btn-success" style="width: 100px;margin: 5px;"
          (click)="onChangeStatus(3, element.idCompany, element.idUser)">
          <i class="fas fa-check-circle"></i> Duyệt
        </a>
        <a href="javascript:void(0)" class="btn btn-danger" style="width: 100px;margin: 5px;"
          (click)='onChangeStatus(2, element.idCompany, element.idUser)'>
          <i class="fas fa-user-times"></i> Từ chối
        </a> -->
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>