.table-checkable tr>td:first-child, .table-checkable tr>th:first-child {
    text-align: left;    
    max-width: unset;
    min-width: 40px;
    padding: 8px;    
}

table thead tr th{
    text-align: center;
}