<div class="row">
    <div class="col-xs-12" id="productForm">
      <div class="row vin-grid">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <h3>Post detail</h3>
            </div>
            <div class="col-md-6 ">
              <p class="text-right" style="margin-top:25px;">
                <a class="btn btn-sm btn-success" href="javascript:void(0)" [routerLink]="['/g/blog-posts']">
                  <i class="fa fa-th-list fa-fw"></i> Back</a>
                <button type="button" id="btnSearch" class="btn btn-sm btn-danger" onclick="window.location.reload()">
                  <i class="fa  fa-refresh fa-fw"></i> Reload</button>
              </p>
            </div>
          </div>
          <div class="box-body">
            <div class="filter-by">
              <div class="row">
                <div class="col-md-12">
                  <h4>
                    <input type="hidden" ng-model="CategoryId" id="CategoryId" value="@ViewBag.CategoryId" />
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <form name="productForm" novalidate>
                    <app-post-add-or-change-general #postAddOrChangeGeneral></app-post-add-or-change-general>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>